@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Raleway';
    background-color: #f1f1f1;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

header {
    background-color: black;
    color: white;
    font-size: 18px;
    z-index: 4;
    top: 0;
}

.open-nav {
    cursor: pointer;
}

.open-nav:hover {
    color: #f1f1f1;
}

.content {
    margin: 0;
    margin-top: 46.4px;
}

nav>div, nav {
    z-index: 3;
    overflow: auto;
    background-color: white;
    color: black;
    width: 300px;
}

.user-img {
    width: 46px;
}

nav a {
    color: black;
    text-align: center;
}

nav a:hover {
    background-color: #ccc;
    color: black;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}

.overview {
    background-color: #2196F3;
    color: white;
}

.overlay {
    z-index: 2;
    cursor: pointer;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.dashboard {
    color: white;
}

.dashboard-icon>i {
    font-size: 48px;
}

.red-box {
    background-color: #f44336;
}

.blue-box {
    background-color: #2196F3;
}

.green-box {
    background-color: #009688;
}

.orange-box {
    background-color: #ff9800;
}

.blue-text {
    color: #2196F3;
}

.red-text {
    color: #f44336;
}

.yellow-text {
    color: #d2be0e;
}

.green-text {
    color: #4CAF50;
}

.feed-table tr>td:first-child {
    font-size: 18px;
}

table tr:nth-child(odd) {
    background-color: white;
}

.green-bar {
    background-color: #4CAF50;
}

.orange-bar {
    background-color: #ff9800;
    color: black;
}

.red-bar {
    background-color: #f44336;
}

.gray-bar {
    background-color: #9e9e9e;
}

.countries-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.countries-table tr {
    border-bottom: 1px solid #ddd;
}

.countries-table tr:hover {
    background-color: #ccc;
}

.countries-btn {
    background-color: #616161;
    color: white;
}

.countries-btn:hover {
    background-color: #ccc;
    color: black;
}

.user-list {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.user-list li>img {
    width: 35px;
}

.user-list li>span {
    font-size: 24px;
}

.comments img {
    width: 96px;
}

.comments span {
    font-size: 15px;
    opacity: 0.6;
}

.details {
    color: white;
    background-color: #616161;
}

.green-border {
    border-bottom: 6px solid #4CAF50;
}

.red-border {
    border-bottom: 6px solid #f44336;
}

.orange-border {
    border-bottom: 6px solid #ff9800;
}

footer a {
    text-decoration: underline;
    color: black;
}

footer a:hover {
    color: black;
}

.side-bar {
    width: 300px;
    display: none;
}

.close-menu {
    background-color: #616161;
    color: white;
}

.close-menu:hover {
    background-color: black;
    color: white;
}